<form class="profile-search-form" [formGroup]="searchForm" action="">
  <label class="tt-form-label">
    <span class="tt-form-label__text">Имя</span>
    <input type="text" formControlName="firstName" class="tt-form-input" />
  </label>

  <label class="tt-form-label">
    <span class="tt-form-label__text">Фамилия</span>
    <input type="text" formControlName="lastName" class="tt-form-input" />
  </label>

  <label class="tt-form-label">
    <span class="tt-form-label__text">Навыки</span>
    <input type="text" formControlName="stack" class="tt-form-input" />
  </label>
</form>
