:host {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 16px;
  padding: 20px;
  background: var(--dark-color);
  border: 1px solid var(--light-color);
}

:host {
  .comment {
    border: 1px dashed var(--light-color);
    border-radius: 4px;
  }
}

.post-body {
  display: grid;
  grid-gap: 12px;
}

.post-author {
  color: var(--light-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  margin-right: 8px;
}

.post-created-at {
  color: var(--light-color);
}

.comment-amount {
  svg {
    margin-right: 6px;
  }
}

.post-comment__wrapper {
  max-height: 150px;
  overflow-y: scroll;
  display: grid;
  grid-gap: 8px;
  padding: 8px 0;
}
